<h1>Startup Ideas</h1>
<div class="wrapper">
  
    <div class="idea"><%= @bus.business.sample %></div>

    <p>for</p>

    <div class="bus"> <%= @adj.adjective.sample %></div>

     <%= link_to 'New Idea', root_path, class:'btn btn-success'  %> 

</div>
