// Place all the styles related to the home controller here.pp not found
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  body{
  text-align: center;
  background-color: #141452 !important;
    }

  h1{
    color: #d3d3f4 !important;
    text-align: center;
    font-family: Helvetica;
    font-size: 150px !important;
    background-color: #3535ce !important;
    }

   .idea{
      font-size: 100px;
      font-family: 'Hind', sans-serif;
      color: #d3d3f4 !important;
    } 

    .bus{
    font-size: 100px;
    color: #d3d3f4 !important;
    font-family: 'Hind', sans-serif;

    }

    p {
    font-size: 70px;
    color: white !important;
    }

  .btn-success{
    text-decoration:none;
    font-family: Arial;
    margin-top:75px;
    background-color: #0060D6 !important;
    color: #FF5E4F  !important;
    font-size: 70px !important;
   }
 
#parrot {
    position:absolute; 
    top: 60vh;
    left: 30vw;
      margin-top: 40px;  
      text-align: center;
      }

