// Place all the styles related to the home controller here.pp not found
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  body{
  text-align: center;
  background-color: #141452 !important;
    }

  h1{
    color: #FF3300 !important;
    text-align: center;
    font-family: Helvetica;
    font-size: 80px !important;
    background-color: #1947D1 !important;
       text-shadow:
               3px 3px 0 #000,
              -1px -1px 0 #000,  
               1px -1px 0 #000,
              -1px 1px 0 #000,
               1px 1px 0 #000;
    }

   .idea{
      font-size: 40px;
      font-family: 'Hind', sans-serif;
      color: #d3d3f4 !important;
      margin-top: 30px;
    } 

    .bus{
    font-size: 40px;
    color: #d3d3f4 !important;
    font-family: 'Hind', sans-serif;

    }

    p {
    font-size: 20px;
    color: white !important;
    }

  .btn-success{
    text-decoration:none;
    font-family: Arial;
    margin-top:45px;
    background-color: #1947D1 !important;
    color: #D6FF5C  !important;
    font-size: 30px !important;
    border-color: #FF3300 !important;
   }
 
#parrot{
  margin-top: 40px !important;
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 

  h1{
    font-size: 50px  !important;
    }

    }

    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 

      h1{                           
        font-size: 50px  !important; 
}                                  }


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px) 
and (-webkit-min-device-pixel-ratio: 2) { 

  h1{                           
    font-size: 50px  !important; 
}                                  }



@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) 
and (-webkit-min-device-pixel-ratio: 2) { 

  h1{                           
    font-size: 50px  !important; 
}                                  }

